<div class="observaciones-container">
    <mat-form-field appearance="fill" class="observaciones-field">
        <mat-label>Observaciones</mat-label>
        <textarea matInput rows="6" [(ngModel)]="texto"
            placeholder="Ingrese las observaciones respecto al movimiento de inventario, cuál es la razón y lotes a movilizarse."></textarea>
    </mat-form-field>
    <div class="acciones">
        <button mat-raised-button color="primary" (click)="despachar()" [disabled]="!texto.trim()">Despachar</button>
    </div>
</div>