<div class="page-container">
    <h2>Gestión de Programación</h2>

    <mat-card class="card-section">
        <h3>Requerimientos Pendientes</h3>
        <app-requerimientos-pendientes-table [data]="requerimientosPendientesTabla"
            (atender)="onAtenderRequerimiento($event)">
        </app-requerimientos-pendientes-table>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="card-section">
        <h3>Requerimientos Atendidos</h3>
        <app-requerimientos-atendidos-table [data]="requerimientosAtendidosTabla"
            (verDetalle)="onVerDetalleRequerimiento($event)">
        </app-requerimientos-atendidos-table>
    </mat-card>

    <!-- Popup detalle de requerimiento -->
    <app-popup-detalle-de-requerimiento *ngIf="detalleSeleccionado" [data]="detalleSeleccionado"
        (close)="cerrarPopupDetalle()">
    </app-popup-detalle-de-requerimiento>

</div>